 *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: poppins, sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  overflow-x: hidden; /* hanya horizontal yang disembunyikan */
  overflow-y: auto; /* vertikal bisa di-scroll */
}



.hero-header {
  scroll-margin-top: 150px; /* sesuaikan tinggi nav */
}

.hero-header {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #222;
}

.wrapper {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  position: fixed;
  padding: 40px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.logo i {
  height: 45px;
  width: 45%;
  background-color: #007ced;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
}

.logo .logo-text {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.logo .logo-text span {
  color: gold;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  padding: 14px 20px;

  box-sizing: border-box; /* PENTING */
  z-index: 999;

  transition: 0.5s ease;

  background: rgba(20, 20, 20, 0.4);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);

  transition: background 0.4s ease, backdrop-filter 0.4s ease;
}

nav.scrolled {
  background: rgba(20, 20, 20, 0.75);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}



nav .togglebtn{
display: none;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 45px;
  right: 3%;
  z-index: 1;
  cursor: pointer;
}

nav .togglebtn i{
  font-size: 30px;
  color: #007ced;

}

nav .navlinks{
  list-style-type: none;

}

nav .navlinks.active {
  display: flex;
}


nav .navlinks li{
  display: inline-block;
}

nav .navlinks li a{
  color:#e5e5e5;
  margin-right: 2.5rem;
}

section {
  scroll-margin-top: 100px; /* sesuaikan tinggi navbar */
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4rem;
  height: 100vh;
}

.container .hero-pic {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid hsl(194, 87%, 49%);
}

.hero-pic img {
  height: 100%;
  width: 100%;
  transition: 2.5s;
}

.hero-pic img:hover {
  transform: scale(1.2);
}

.hero-text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.hero-text h5 {
  color: #e5e5e5;
  font-size: 25px;
}

.hero-text span {
  color: gold;
}

.hero-text h1 {
  color: #007ced;
  font-size: 3rem;
}

.hero-text p {
  color: #e5e5e5;
}

.btn-group {
  margin: 45px 0;
}

.btn-group .btn {
  border-color: #d5d5d5;
  color: #fff;
  background-color: #333;
  padding: 12px 25px;
  margin: 5px 0;
  text-decoration: none;
  margin-right: 7px;
  border-radius: 30px;
  border: 2px solid #e5e5e5;
  transition: 3s;
}

.btn.active {
  background-color: #007ced;
  border-color: aquamarine;
}

.hero-text .social li {
  color: #e5e5e5;
  font-size: 30px;
  margin-right: 10px;
  text-decoration: underline;
  transition: 0.5s;
}

.hero-text .social li:hover {
  color: #007ced;
  text-decoration: underline;
  transform: rotate(360deg);
}

/*  ABOUT */
.about {
  width: 100%;
  padding: 80px;
  height: 100vh;
}

.about .main {
  display: flex;
  flex-direction: row-reverse; /* foto kiri - teks kanan */
  align-items: center;
  gap: 40px;
}

.about img {
  height: 200px;
  width: 400px;
  border-radius: 23px;
  transition: transform 0.6s ease; /* bikin halus */
}

.about img:hover {
  transform: rotate(6deg) scale(1.08);
  transition: 0.5s;
}

.about-text {
  max-width: 600px;
  text-align: left;
}

.about-text h2 {
  font-size: 80px;
  color: #00bcd4;
}

.about-text h2 span {
  color: gold;
}

.about-text h5 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: gold;
}

.about-text p {
  font-size: 22px;
  line-height: 30px;
  color: #e5e5e5;
}

section {
  scroll-margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 80px;
}

/*My Skills */
.skills {
  width: 100%;
  height: 100vh;
  padding: 80px;
}

.skills .tittle h2 {
  text-align: center;
  font-size: 80px;
  margin-bottom: 50px;
  color: #00bcd4;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 280px;
  padding: 25px;
  border-radius: 12px;
  background: #111;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  border-radius: 12px;
  width: 80px;
  margin-bottom: 15px;
}

.card h5 {
  color: #e5e5e5;
  font-size: 20px;
}

.card p {
  color: #e5e5e5;
  margin-top: 12px;
  line-height: 30px;
}

/*My Portfolio*/
.portfolio {
  padding: 80px 40px;
}

.portfolio h2 {
  margin-bottom: 80px;
  text-align: center;
  color: #00bcd4;
  font-size: 80px;
}

.portfolio h5{
  color: gold;
  font-size: 34px;

}

/* GRID: 3 ATAS, 2 BAWAH OTOMATIS */
.portfolio-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.portfolio-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.portfolio-card img{
  width: 100%;
  height: auto;
  display: block;
  width: calc(25% - 11.25px);
}

/* VIDEO / YOUTUBE */
.video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 */
}

.video-wrapper iframe,
.portfolio-card video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #045ee4;
  border-radius: 10px;
}

/* TEXT */
.portfolio-card h3 {
  color: #e5e5e5;
  margin: 20px;
  font-size: 20px;
}

.portfolio-card p {
  margin: 0 15px 20px;
  color: #e5e5e5;
}


/* Hover Animasi */
.portfolio-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* CONTACT */
.contact {
  padding: 80px 40px;
}
.contact h2 {
  color: #007ced;
  font-size: 50px;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 30px;
}

.contact-info h3 {
  color: lightseagreen;
  font-size: 22px;
  margin-bottom: 10px;
}

.contact-info p {
  margin-bottom: 8px;
  color: #e5e5e5;
  font-size: 20px;
}

/* Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.contact-form textarea {
  min-height: 140px;
  resize: vertical;
}

.contact-form button {
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #005fcc;
}

@media (max-width: 768px) {

  /* tampilkan icon */
  nav .togglebtn {
    display: block;
  }

  /* sembunyikan menu */
  nav .navlinks {
    display: none;
    position: absolute;
    top: 65px;
    right: 20px;

    flex-direction: column;
    background: #111;
    padding: 20px;
    border-radius: 10px;
  }

  /* MUNCUL SAAT DIKLIK */
  nav .navlinks.active {
    display: flex;
  }

  nav .navlinks li a {
    margin: 10px 0;
  }
}



@media (max-width: 900px) {
  .container {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .hero-pic {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 600px) {
  .hero-pic {
    width: 220px;
    height: 220px;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text h5 {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .about .main {
    flex-direction: column;
    text-align: center;
  }

  .about img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}

@media (max-width: 600px) {
  .about-text h2 {
    font-size: 48px;
  }

  .about-text p {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .skills {
    height: auto;
  }

  .box {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .skills .tittle h2 {
    font-size: 48px;
  }

  .card {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 900px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }

  .portfolio h2 {
    font-size: 48px;
  }

  .portfolio h5 {
    font-size: 22px;
  }
}

@media (max-width: 900px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .contact h2 {
    font-size: 38px;
  }

  .contact-info p {
    font-size: 18px;
  }
}



.reveal.active {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}


/* TULISAN NAIK DARI BAWAH */
.reveal-text {
  opacity: 0;
  transform: translateY(120px);
  transition: 0.9s ease-out;
}

.reveal-text.active {
  opacity: 1;
  transform: translateY(0);
}

.reveal-img-right {
  opacity: 0;
  transform: translateX(150px);
  transition: 0.9s ease-out;
}

.reveal-img-right.active {
  opacity: 1;
  transform: translateX(0);
}


