/*========== GOOGLE FONT ========= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root {
   --body-color: #f4f4f4;
   --primary-color: #000;
   --secondary-color: #fff;
   --secondary-2-color: #ccc;
   
   --input-color: #fbfbfb;
   --input-hover-color: #fefefe;
   --shadow-color: rgba(0,0,0,0.8);
   --border-color: #353535
}

body {
    background:var(--body-color);
}

p {
    background:var(--p-color);
}

/*========== HEADER ========== */
header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 9px 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
}

/*========== LOGO ========== */
.logo {
    font-size: 33px;
    font-weight: 700;
    color: #555;
}

.logo span {
    color:var(--p-color);
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.navbar-container ul li{
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    margin-right: 2rem;
}

.navbar-container ul li a{
    color: var(--primary-color);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: color .5s;
}

.navbar-container ul li a:hever{
    color: var(--p-color);
}

.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/*========== UNDELINE ========== */
.underline {
    position: fixed;
    height: 3px;
    background-color: var(--primary-color);
    transform: widht .2s, background-color 5s, transform .5s;
    z-index: 1;
    left: 0;
}

#menu-icon {
    color: var(--primary-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

header.sticky{
    padding: 9px 6%;
    background: transparent;
    backdrop-filter: blur(55px);
    box-shadow: 0 0 10px var(--shadow-color);
}

section {
    padding-top: 15vh;
    margin: 0 10rem;
    min-height: fit-content;
}

/*========== PROFIL SCTION ========== */
#home {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

/*========== PIC PROFILE ========== */
.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto;
}

.home-pic{
    border-radius: 40%;
    box-shadow: 0 0 8px var(--shadow-color);
}

/*========== TEXT SECTION ========== */
.section__text {
    align-self: center;
    text-align: center;
}

.section__text p{
    font-weight: 600;
}

.section__text__p1{
    text-align: center;
    color: var(--p-color);
    font-size: 30px;
}

.section__text__p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.section__text__p3{
    font-size: 14px;
    margin-bottom: 1rem;
}

.tittle{
    font-size: 3rem;
    text-align: center;
    color: var(--primary-color);
}

#socials-container{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    gap: 10px;
}

.social-icon{
    color: var(--body-color);
    background: var(--p-color);
    border-radius: 50%;
    padding: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.social-icon:hover{
    background: var(--primary-color);
    transition: all .3s ease;
}


.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 600;
    transition: all .3s ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    background: transparent;
}

.btn-color-1{
    border: 1px solid var(--border-color);
    color: var(--p-color);
}

.btn-color-1:hover{
    background: var(--border-color);

}

#about{
    position: relative;
    margin-bottom: 3rem;
}

.text-container p{
    font-size: 16px;
    font-weight: 600;
}

.about-pic{
    border-radius: 2rem;
    box-shadow: 0 0 4px var(--shadow-color);
    margin-left: 4rem;
    transition: transform 0.6s ease; 
    transform: rotate(6deg) scale(1.08);
    transition: 0.5s;
}

.section-container{
    display: flex;
    gap: 4rem;
    height: 80%;
}

.about-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#skills{
    position: relative;
}

.skill-contact{
    display: flex;
    justify-content: space-between;
}

skill-text{
    margin-bottom: 8rem;
    font-size: 2.5rem;
}

.row-img{
    width: 95%;
    height: 240px;
    cursor: pointer;
}

.row-img img{
    height: 70%;
    display: block;
    filter: brightness(70%);
}

.row-img img:hover{
    filter: brightness(90%);
    transform: scale(1.section__text__p1);
    transition: all  .3s ease;
}

#project{
    position: relative;

}

.about-containers{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;

}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: var(--secondary-color);
    border-radius: 2rem;
    text-align: center;
    box-shadow: 0.0.1px var(--shadow-color);
}

.project-img{
    border-radius: 2rem;
    width: 90%;
    height: 90%;
    filter: brightness(80%);
}

.project-title{
    margin: 1rem;
    color: var(--primary-color);
}

.p-icon {
    font-size: 1rem;
    margin-left: 5px;
}

/* Sembunyikan modal secara default */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.8); /* Latar hitam transparan */
}

